.layout
{
    display: grid;
    border: 3px solid black;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 30% 70%;
    padding: 12px;
    min-height: 100vh;
    background: #f3f4f6;
}
.left
{
    border: 3px solid lawngreen;
    background-color: rgb(2, 96, 128);
    grid-row-start:1 ;
    grid-row-end:3 ;
}
.right-top,
.right-bottom
{
    border: 3px solid red;
    padding: 2%;
}
.right-top
{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.right-top-upper,
.right-top-bottom
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.search,
.upper-logo
{
    border: 1px solid green;
}
.right-top-upper-left
{
    display: grid;
    grid-template-columns:30% 70%;
}

.right-top-upper-right
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.right-top-bottom-left
{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: space-around;
}

.right-top-bottom-right
{
    display: grid;
    gap: 6%;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(3,30%);
}
.setting
{
    background-color: rgb(2, 96, 128);
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}